<h1>Homes#home</h1>
<p>Find me in app/views/homes/home.html.erb</p>

<div class='container'>
  <div class='row'>
    <div class='col-3 hidari'>
      <div class = 'genre_search'>
        <div class = 'genre_search_title'>ジャンル検索</div>
        <% @genres.each do |genre| %>
          <div class = 'genre_search_record'><%= genre.name %></div>
        <% end %>
      </div>
    </div>
    <div class='col-9 migi'>
      <%= render 'slider' %>
      <div class = "welcome-text">
        <p >ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h1>新着商品</h1>
      <div class = 'item-container'>
        <% @items4.each do |item| %>
          <%= link_to(about_path, class: 'item-box') do %>
            <%= image_tag(item.image_id, class: "item-img") %>
            <p class = 'item-text'><%= item.name %></br>¥<%= item.total_payment.to_s(:delimited) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>