<h1>CartItems#index</h1>
<p>Find me in app/views/cart_items/index.html.erb</p>
<div class = "container">
  <div class = "row">
    <div class = "col"><div class = "bg-light m-2">ショッピングカート</div></div>
    <div class = "col text-right"><div class = "btn btn-danger m-2">カートを空にする</div></div>
  </div>
  <div class = "row">
    <div class = "col">
      <table class="mx-auto w-auto table-hover">
        <thead class = "table-secondary table-bordered">
          <tr>
            <th>顧客ID</br>(いらない)</th>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |ci| %>
            <tr class = "table-bordered">
              <th class = "p-2"><%= ci.customer_id %></th>
              <th class = "p-2">
                <%= attachment_image_tag ci.item, :image, class: "show-img", style: "width: 2.0rem; height: 2.0rem;" %>
                <%#= image_tag(ci.item.image_id, class: "show-img", style: "width: 2.0rem; height: 2.0rem;") %>
                <%= ci.item.name %>
              </th>
              <th class = "p-2">¥<%= ci.item.total_payment.to_s(:delimited) %></th>
              <th class = "p-2">
                <%= form_with model: ci, class: "form-select form-select-lg", local: true do |f| %>
                  <%= f.select :quantity, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], :selected => ci.quantity), class: "form-select" %>
                  &nbsp;
                  <%= f.submit '変更', class: "btn btn-success" %>
                <% end %>
              </th>
              <th class = "p-2">¥<%= (ci.item.total_payment*ci.quantity).to_s(:delimited) %></th>
              <th class = "p-2"><%= link_to '削除する', cart_item_path(ci), class: "btn btn-danger", method: :delete %>
            </tr>
          <% end %>
          <tr>
            <th colspan = "6">&nbsp;</th>
          </tr>
          <tr>
            <th></th>
            <th><%= link_to "買い物を続ける", login_path, class: "btn btn-primary" %></th>
            <th></th>
            <th></th>
            <th class = "border border-dark table-secondary p-2">合計金額</th>
            <th class = "border border-dark p-2">¥<%= @price %></th>
          </tr>
          <tr>
            <th colspan = "6">&nbsp;</th>
          </tr>
          <tr>
            <th colspan = "6"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success mx-auto d-block w-25" %></th>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

