<h1>Public::Orders#index</h1>
<p>Find me in app/views/public/orders/index.html.erb</p>

<%= render 'layouts/title', title: "注文履歴一覧" %>
<table class = "table-bordered border-dark">
  <thead>
    <tr class = "table-secondary">
      <th class = "border-dark">注文日</th>
      <th class = "border-dark">配送先</th>
      <th class = "border-dark">注文商品</th>
      <th class = "border-dark">支払い金額</th>
      <th class = "border-dark">ステータス</th>
      <th class = "border-dark">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |o| %>
      <tr>
        <th class = "border-dark"><%= o.created_at.strftime("%Y/%m/%d")%></th>
        <th class = "border-dark">
          〒<%= o.postal_code %></br>
          <%= o.address %></br>
          <%= o.name %>
        </th>
        <th class = "border-dark">
          <% OrderDetail.where(order_id: o.id).each do |od| %>
            <%= od.item.name %></br>
          <% end %>
        </th>
        <th class = "border-dark"><%= o.price %></th>
        <th class = "border-dark"><%= o.status_i18n %></th>
        <th class = "border-dark"><%= link_to "表示する", order_path(o), class: "btn btn-primary m-3 px-2 py-1" %></th>
      </tr>
    <% end %>
  </tbody>
</table>