<div class="container">
    
    <div class="header logo">
        <%= link_to "NAganoCAKE", root_path %>
    </div>
    
    <div class="header list">
        <ul>

            <li><%= link_to "About",about_path %></li>
            <li><%= link_to "商品一覧",root_path %></li>
            <li><%= link_to "新規登録", %></li>
            <li><%= link_to "ログイン", %></li>
            
        </ul>
    </div>
</div>
