<div class="container">
    
    <div class="header logo">
        <%= link_to "NAganoCAKE", root_path %>
    </div>
    
    <div class="header list">
        <ul>
            <span class="navbar-text">
            ようこそ、<%= current_customer._name %>さん！
            </span>
            <li><%= link_to "マイページ", %></li>
            <li><%= link_to "商品一覧", %></li>
            <li><%= link_to "カート", %></li>
            <li><%= link_to "ログアウト",destroy_public_session %></li>
            
        </ul>
    </div>
</div>
    
    
    
    
    
    
    
</div>