<!DOCTYPE html>
<html>
  <head>
    <title>naganoCAKE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').bxSlider({
          auto: true,
          pause: 5000,
        });
      });
    </script>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <header>
      
      <% #顧客でサインインしている場合 %>
      <% if user_signed_in? then %>
        <%= render "header_public" %>
        
      <% #管理者でサインインしている場合 %>
      <% elsif admin_signed_in? then %> 
        <%= render "header_admin" %>
        
      <% #どちらにも当てはまらない場合(ログインしていない状態) %>
      <% else %>
        <%= render "header" %>
      
      <% end %>
      
      
    </header>
    
    <%= yield %>
    
    <footer>
      
      
    </footer>
  </body>
</html>